<div
  class="flex flex-col items-center gap-y-4 p-4 bg-gradient-to-br from-indigo-500 to-purple-700 bg-auto h-screen"
>
  <div class="w-fit">
    <form (submit)="onSubmit()" class="flex gap-x-2 items-center">
      <input
        type="text"
        placeholder="Buscar localização"
        name="city"
        [(ngModel)]="initialCity"
        class="bg-blue-900 text-white text-center rounded-full px-4 py-0.5"
      />

      <span (click)="onSubmit()">
        <fa-icon
          animation="fade"
          size="lg"
          class="search-icon"
          [icon]="searchIcon"
          style="color: white"
        >
        </fa-icon>
      </span>
    </form>
  </div>

  <app-weather-card [weatherDatasInput]="weatherDatas"> </app-weather-card>
</div>
