<div
  *ngIf="weatherDatasInput"
  class="flex-col items-center bg-white/10 backdrop-blur-xl border border-white/20 shadow-2xl rounded-[2.5rem] w-md p-8 text-white"
>
  <div>
    <p>{{ weatherDatasInput.name }}</p>

    <div>
      <p>{{ weatherDatasInput.main.temp | number : "1.0-0" }} °C</p>
      <p>{{ dayName }}, {{ dayOfTheMonth }} de {{ monthName }}</p>
    </div>
  </div>

  <div class="flex">
    <div>
      <p>Min/Máx</p>
      <p>
        {{ weatherDatasInput.main.temp_min }}°C/{{
          weatherDatasInput.main.temp_max
        }}°C
      </p>
    </div>

    <div>
      <div class="flex items-center">
        <p>Umidade</p>
        <fa-icon
          [icon]="dropIcon"
          class="text-white/70 group-focus-within:text-white"
        ></fa-icon>
      </div>
      <p>{{ weatherDatasInput.main.humidity }}%</p>
    </div>

    <div>
      <div class="flex items-center">
        <p>Vento</p>
        <fa-icon
          [icon]="windIcon"
          class="text-white/70 group-focus-within:text-white"
        ></fa-icon>
      </div>
      <p>{{ weatherDatasInput.wind.speed }}km/h</p>
    </div>
  </div>
</div>
